{% extends "base.html" %}
{% load static %}

{% block titulo %}
    Pesquisa de Fornecedores
{% endblock %}

{% block corpo %}
    <div class="titulopagina containerundermenu mb-5" style="background-image: url({% static 'imagens/bg-sobre.jpg'%});">
        <h1 class="textotitulo">Lista de Fornecedores</h1>
    </div>

    <div style="width:100%; max-width:800px; margin: 0 auto;">
    <h4>Pesquise um Fornecedor:</h4>
    <form action="" method ='GET' class="mb-4">
        <div class='form-group row' style='margin-bottom: 10px;'>
            <label for='id_nome' class='col-lg-2 col-form-label font-weight-bold text-right pr-2'>
                Nome
            </label>
            <div class='col-lg-8'>
                {{ form.nome }}
            </div>
            <div class="col-lg-2">
                <button type='submit' class='btn btn-danger'>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-search mr-2"></i> Pesquisar
                    </div>
                </button>
            </div>
        </div>
    </form>
    </div>

    <div style="width:100%; max-width:1200px; min-height: 300px; margin: 0 auto;">
        {% if fornecedores %}
            <table style="width:100%" class="table table-striped table-sm table-bordered table-responsive mb-4">
                <thead>
                    <tr>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Endereço</th>
                        <th class="text-center">Telefone</th>
                        <th class="text-center">CNPJ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fornecedor in fornecedores %}
                        <tr>
                            <td class="text-center align-middle">
                                <a href="{% url 'exibe_fornecedor' fornecedor.id %}">
                                {{fornecedor.nome}}
                                </a>
                            </td>
                            <td class="text-center align-middle">
                                {{fornecedor.endereco}}
                            </td>
                            <td class="text-center align-middle">
                                {{fornecedor.telefone}}
                            </td>
                            <td class="text-center align-middle">
                                {{fornecedor.cnpj}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div style='font-size: 14px; margin-bottom: 28px'>
                {% if fornecedores.has_other_pages %}
                    <ul class='pagination' id="paginacao">
                        {% if fornecedores.has_previous %}
                            <li class='page-item'><a class='page-link' href='?pagina={{ fornecedores.previous_page_number }}&nome={{ nome }}'>Anterior</a></li>
                        {% else %}
                            <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Anterior</a></li>
                        {% endif %}
                        {% for i in fornecedores.paginator.page_range %}
                            {% if fornecedores.number == i %}
                                <li class='page-item active'><a class='page-link' href='#'>{{ i }} </a></li>
                            {% else %}
                                <li class='page-item'><a class='page-link' href='?pagina={{ i }}&nome={{ nome }}'>{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if fornecedores.has_next %}
                            <li class='page-item'><a class='page-link' href='?pagina={{ fornecedores.next_page_number }}&nome={{ nome }}'>Próxima</a></li>
                        {% else %}
                            <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Próxima</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        {% else %}
        {% endif %}

    </div>

{% endblock %}