<table style="width:100%">
    <thead>
        <tr>
            <td style="border:1px solid #ccc">Nome</td>
            <td style="border:1px solid #ccc">Categoria</td>
            <td style="border:1px solid #ccc">Qtd</td>
            <td style="border:1px solid #ccc">Valor</td>
        </tr>
    </thead>
    <tbody id="conteudotabela">

    </tbody>
    <tfoot>
        <tr>
            <td style=""></td>
            <td style=""></td>
            <td style="border:1px solid #ccc">Total</td>
            <td style="border:1px solid #ccc">0</td>
        </tr>
    </tfoot>

</table>