/*Sobrescrever codigos para remover outline em botoes*/
.btn:focus, .btn:active:focus, .btn.active:focus{
    box-shadow:none !important;
}
.accordion-button:focus{
    box-shadow:none !important;
}
/*Codigos Estruturais*/
.navegacao{
    width:100%;
    height:70px;
    z-index:100000;
}
.fix-topmobile{
    height: 50px;
}
.logonav{
    width:120px;
}
.containerundermenu{
    width:100%;
    margin-top: 70px;
}
.containercontent{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px 5px;
    box-sizing: border-box;
    z-index:100;
    min-height: 300px;
    font-family: 'Roboto';
}
/*Codigos de estilo para o Rodapé*/
.rodape{
    width:100%;
    background: #C1272D;
    min-height: 100px;
    padding: 20px 10px;
    box-sizing: border-box;
    color:#fff;
}
.rodape .linkrodape{
    color:#fff;
    text-decoration: none;
}
.rodape .linkrodape:hover{
    background-color: darkred;
    color:#fff;
}
/*Estilos para conteudo das paginas*/
.titulopagina{
    width:100%;
    padding: 100px 10px;
    text-align: center;
    background-size: cover;
    background: center no-repeat;
}
.textotitulo{
    font-family: 'Roboto', sans-serif;
    color:#fff;
}
/*Estilos dos cards de produtos*/
.cardproduto{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}
.cardproduto .titulo{ 
    font-weight: 600;
    text-align: center;
    font-size: 1.2em;
    min-height: 70px;
}
.cardproduto .image{
    width: 100%;
    border-radius: 5px;
    background-size: cover;
    height: 200px;
}
.cardproduto .preco{
    width: 75%;
    margin: 0 auto;
    background: #D9E021;
    color:#000;
    font-weight: 800;
    font-size: 1.5em;
    text-align: center;
}
/*ESTILOS GERAIS DE CORES DE BG*/
.bg-verde:not(.collapsed){
    background-color: #D9E021 !important;
    color: #000 !important;
}
/*ESTILOS RAPIDOS PARA FONTE PERSONALIZADA*/
.font-roboto{font-family: 'Roboto', sans-serif;}
.font-200{font-weight: 200;}
.font-400{font-weight: 400;}
.font-600{font-weight: 600;}
.font-800{font-weight: 800;}